
.panel-body > section {
  padding: 10px 20px 20px 20px;
}

/* When the screen is too small, stop the floats and go to one vertical column. */
@media (max-width: 615px) {
  .panel-body > section {
    float: none !important;
  }
}

#currentMode {
  margin-left: 10px;
  margin-right: 5px;
}

#totals td {
  width: 4em;
  padding-left: 12px;
  padding-right: 12px;
}

#totals td.value {
  text-align: right;
}

#totalsTable td.dummy {
  border-right: none;
}

#totalsTable td.dummy + td {
  border-left: none;
}

#actions #switchEra {
  padding: 15px;
  border-bottom: none;
}

#actions form {
  border: 1px solid #ddd;
}

#adjust {
  height: 200px;
}

#adjust_delta, #adjust_mode {
  padding-top: 15px;
  padding-left: 10px;
}

#adjust_delta .description {
  padding-left: 5px;
}

#adjust_delta p {
  padding-top: 15px;
  padding-bottom: 15px;
}

#adjust_delta .verb {
  width: 4.3em;
  display: inline-block;
  text-align: right;
}

#adjust_delta input {
  width: 2.8em;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 0;
  padding-right: 0;
}

#adjust_delta .preposition {
  width: 2.2em;
  display: inline-block;
  text-align: center;
}

#adjust_mode button {
  display: block;
  margin-right: 10px;
}

form#clear {
  border-top: none;
  margin: 0;
  text-align: center;
}

#clear button {
  margin: 15px;
}
