
.javascript-only {
  display: none;
}

.shrink-wrap {
  display: inline-block;
  width: auto;
}

.popup {
  position: absolute;
  display: inline-block;
  border-radius: 3px;
  padding: 5px 8px 5px 8px;
  color: white;
  background-color: #444;
}

#warning {
  min-width: 400px;
  margin-left: calc(50% - 200px);
  margin-right: calc(50% - 200px);
}

#main-display {
  max-width: 800px;
}

@media (min-width: 840px) {
  #main-display {
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
  }
}

.worktime-section {
  padding: 10px 20px 20px 20px;
}

/* When the screen is too small, stop the floats and go to one vertical column. */
@media (max-width: 615px) {
  .column {
    float: none !important;
  }
}

#connection-status {
  padding: 5px 10px;
  border-radius: 5px;
  text-align: right;
}

#connection-warning {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fcc;
  display: none;
}

#adjustments-bar {
  position: relative;
  height: 30px;
}

#adjustment-lines-bar {
  position: relative;
  height: 15px;
}

#adjustments-bar .adjustment {
  position: absolute;
  border-radius: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 90%;
}

#adjustment-lines-bar .adjustment-line {
  position: absolute;
  border: solid 1px #ccc;
  height: 15px;
}

#history-bar .popup {
  display: none;
  top: -2px;
}

#history .period {
  height: 10px;
  display: inline-block;
}

#history .period {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}
#history .period[data-index="0"] {
  border-left: 1px #ccc solid;
}
#history .period:last-child {
  border-right: 1px #ccc solid;
}

#history .period.color-green {
  background-color: #afa;
}
#history .period.color-red {
  background-color: #faa;
}
#history .period.color-bluegray {
  background-color: #ddf;
}

.color-green {
  background-color: #cfc;
}
.color-red {
  background-color: #fcc;
}
.color-bluegray {
  background-color: #ddf;
}
.color-, .color-None, .color-null {
  background-color: unset;
}

#mode-time {
  margin-left: 5px;
  padding: 5px 10px 6px 5px;
  border-radius: 4px;
}

#current-mode {
  margin-left: 5px;
  margin-right: 5px;
}

#totals td {
  width: 4em;
  padding-left: 12px;
  padding-right: 12px;
}

#totals td.value {
  text-align: right;
}

#totals-table td.dummy {
  border-right: none;
}

#totals-table td.dummy + td {
  border-left: none;
}

.worktime-section form {
  border: 1px solid #ddd;
}

#actions #switch-era {
  padding: 15px;
  border-bottom: none;
}

#settings form {
  padding: 15px 15px 5px 15px;
}

#adjust {
  height: 200px;
}

#adjust-delta, #adjust-mode {
  padding-top: 15px;
  padding-left: 10px;
}

#adjust-delta .description {
  padding-left: 5px;
}

#adjust-delta p {
  padding-top: 15px;
  padding-bottom: 15px;
}

#adjust-delta .verb {
  width: 4.3em;
  display: inline-block;
  text-align: right;
}

#adjust-delta input {
  width: 2.8em;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 0;
  padding-right: 0;
}

#adjust-delta .preposition {
  width: 2.2em;
  display: inline-block;
  text-align: center;
}

#adjust-mode button {
  display: block;
  margin-right: 10px;
}

form#clear {
  border-top: none;
  margin: 0;
  text-align: center;
}

#clear button {
  margin: 15px;
}
