{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Worktime{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'worktime/css/main.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">

      <h2 id="title">Worktime</h2>

      <section id="main-display" class="panel panel-default">
        <div class="panel-heading">
          <h3 id="era-name">
            {% if era %}
              {{ era }}
            {% else %}
              Worktime
            {% endif %}
          </h3>
        </div> <!-- .panel-heading -->
        <div class="panel-body">
          <section id="connection" class="pull-right">
            <p id="connection-status"></p>
            <p id="connection-warning"></p>
          </section> <!-- #connection -->
          <section id="history" class="worktime-section">
            <h4>History</h4>
            <p id="history-timespan">Past {{ history.timespan }}:</p>
            <div id="adjustments-bar">
              {% for adjustment in history.adjustments %}
                <span class="adjustment mode-{{ adjustment.mode }}" style="left: {{ adjustment.x }}%">
                  {{ adjustment.mode }}&nbsp;{{ adjustment.sign }}{{ adjustment.magnitude }}
                </span>
              {% endfor %}
            </div>
            <div id="adjustment-lines-bar">
              {% for adjustment in history.adjustments %}
                <span class="adjustment-line" style="left: {{ adjustment.x }}%"></span>
              {% endfor %}
            </div>
            <div id="history-bar">
              {% for period in history.periods %}
                <div class="popup" data-index="{{ forloop.counter0 }}">
                  {{ period.mode }} {{ period.timespan }}
                </div>
              {% endfor %}
              {% for period in history.periods %}<!--
                Workaround to prevent whitespace appearing between the spans.
             --><span class="period mode-{{ period.mode }}" style="width: {{ period.width }}%" data-index="{{ forloop.counter0 }}" title="{{ period.mode }} {{ period.timespan }}"></span><!--
           -->{% empty %}<span class="period mode-None" style="width: 99%" data-index="0"></span>
              {% endfor %}
            </div>
          </section> <!-- #history -->
          <div class="shrink-wrap">
            <div class="column pull-right">
              <section id="stats" class="worktime-section">
                <div id="status">
                  <h4>
                    Current mode:
                    <span id="mode-time" class="mode-{{ current_mode }}">
                      <strong id="current-mode">
                        {% if current_mode %}
                          {{ current_mode }}
                        {% else %}
                          None
                        {% endif %}
                      </strong>
                      <span id="current-elapsed">
                        {% if current_mode != "None" %}
                          {{ current_elapsed }}
                        {% endif %}
                      </span>
                    </span>
                  </h4>
                </div>
                <div id="totals">
                  <h4>Totals</h4>
                  <table class="pane1 table-bordered table-condensed">
                    <tbody id="totals-table">
                      {% for elapsed_line in elapsed %}
                        <tr>
                          <td class="name dummy"></td>
                          <td class="name">{{ elapsed_line.mode }}</td>
                          <td class="value">{{ elapsed_line.time }}</td>
                        </tr>
                      {% endfor %}
                      {% for ratio in ratios %}
                        <tr>
                          {% if forloop.first %}
                            <td class="name" rowspan="{{ ratios | length }}">{{ ratio_str }}</td>
                          {% endif %}
                          <td class="name">{{ ratio.timespan }}</td>
                          <td class="value">{{ ratio.value }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </section> <!-- #stats -->
            </div> <!-- .column.pull-right -->
            <div class="column pull-left">
              <section id="actions" class="worktime-section">
                <h4>Actions</h4>
                <form id="switch" class="list-group-item action-buttons" name='switch' method='post' action="{% url 'worktime:switch' %}">
                  {% csrf_token %}
                  <p>
                    <strong>Switch</strong> mode to:
                  </p>
                  {% for mode in modes %}
                    <button class="btn btn-default ajaxable" name="mode" value="{{ mode }}">
                      {{ mode }}
                    </button>
                  {% endfor %}
                  <input class="ruhuman" name="site" type="text">
                  <input type="hidden" name="debug" value="{{ debug }}">
                </form>
                <form id="switch-era" name="switch-era" method="post" action="{% url 'worktime:switchera' %}">
                  {% csrf_token %}
                  <div id="choose-era" {% if not eras %}style="display: none"{% endif %}>
                    <p>
                      <strong>Change</strong> project to:
                    </p>
                    <p>
                      <select id="era-select" name="era">
                        {% for era in eras %}
                          <option value="{{ era.id }}">{{ era.name }}</option>
                        {% endfor %}
                      </select>
                    </p>
                  </div>
                  <div id="create-era">
                    <p id="create-era-prompt">
                      {% if eras %}
                        Or start
                      {% else %}
                        <strong>Start</strong>
                      {% endif %}
                      a new project:
                    </p>
                    <p>
                      <input name="new-era" type="text">
                    </p>
                  </div>
                  <input class="ruhuman" name="site" type="text">
                  <input type="hidden" name="debug" value="{{ debug }}">
                  <input class="btn btn-default ajaxable" type="submit" value="Submit">
                </form>
                <form id="adjust" name="adjust" method="post" action="{% url 'worktime:adjust' %}">
                  {% csrf_token %}
                  <div id="adjust-delta" class="pull-left">
                    <span class="description"><strong>Adjust</strong> totals:</span>
                    <p>
                      <span class="verb">Add</span>
                      <input name="add" type="text">
                      <span class="preposition">to</span>
                    </p>
                    <p>
                      <span class="verb">Subtract</span>
                      <input name="subtract" type="text">
                      <span class="preposition">from</span>
                    </p>
                  </div>
                  <div id="adjust-mode" class="pull-right">
                    {% for mode in modes %}
                      <button class="btn btn-default ajaxable" name="mode" value="{{ mode }}">
                        {{ mode }}
                      </button>
                    {% endfor %}
                  </div>
                  <input class="ruhuman" name="site" type="text">
                  <input type="hidden" name="debug" value="{{ debug }}">
                </form>
              </section> <!-- #actions -->
              <section id="settings" class="worktime-section">
                <h4>Settings</h4>
                <form name="settings" method="post" action="{% url 'worktime:settings' %}">
                  {% csrf_token %}
                  <input class="ruhuman" name="site" type="text">
                  <p class="javascript-only">
                    {% if settings.autoupdate %}
                      <button class="btn btn-default active" name="autoupdate" value="off" id="autoupdate-toggle">on</button>
                    {% else %}
                      <button class="btn btn-default" name="autoupdate" value="on" id="autoupdate-toggle">off</button>
                    {% endif %}
                    Auto-update
                  </p>
                  {% comment "For when abbreviation-off feature is implemented." %}
                  <p>
                    {% if settings.abbrev %}
                      <button class="btn btn-default ajaxable active" name="abbrev" value="off">on</button>
                    {% else %}
                      <button class="btn btn-default ajaxable" name="abbrev" value="on">off</button>
                    {% endif %}
                    Abbreviate modes
                  </p>
                  {% endcomment %}
                </form>
              </section> <!-- #settings -->
            </div> <!-- .column.pull-left -->
          </div>  <!-- .shrink-wrap -->
        </div> <!-- .panel-body -->
      </section>

    </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'worktime/js/main.js' %}?via=html"></script>
  <script src="{% static 'worktime/js/arrange.js' %}?via=html"></script>
{% endblock javascript %}
