{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Worktime{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'worktime/css/main.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">

      <h2 id="title">Worktime</h2>

      <section class="panel panel-shrink">
        <div class="panel-heading">
          <h3>
            {% if era %}
              {{ era }}
            {% else %}
              Worktime
            {% endif %}
          </h3>
        </div>
        <div class="panel-body">
          <div id="status">
            <h4>
              Current status:
              <strong id="currentMode">
                {% if current_mode %}
                  {{ current_mode }}
                {% else %}
                  None
                {% endif %}
              </strong>
              <span id="currentElapsed">
                {% if current_mode %}
                  {{ current_elapsed }}
                {% endif %}
              </span>
            </h4>
          </div>
          {% if elapsed %}
            <div id="totals">
              <h4>Totals</h4>
              <table class="pane1 table-bordered table-condensed">
                <tbody id="totalsTable">
                  {% for elapsed_line in elapsed %}
                    <tr>
                      <td class="name">{{ elapsed_line.mode }}</td>
                      <td class="value">{{ elapsed_line.time }}</td>
                    </tr>
                  {% endfor %}
                  {% if ratio %}
                    <tr>
                      <td class="name">{{ ratio_str }}</td>
                      <td class="value">{{ ratio }}</td>
                    </tr>
                    {% if ratio_recent %}
                      <tr>
                        <td class="name">{{ ratio_str }} {{ recent_period }}</td>
                        <td class="value">{{ ratio_recent }}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          {% endif %}
          <div id="actions">
            <h4>Actions</h4>
            <form id="switch" class="list-group-item action-buttons" name='switch' method='post' action="{% url 'worktime:switch' %}">
              {% csrf_token %}
              <p>
                <strong>Switch</strong> mode to:
              </p>
              {% for mode in modes %}
                <button class="btn btn-default" name="mode" value="{{ mode }}">
                  {{ mode }}
                </button>
              {% endfor %}
            </form>
            <form id="adjust" name="adjust" method="post" action="{% url 'worktime:adjust' %}">
              {% csrf_token %}
              <div id="adjust_delta" class="pull-left">
                <span class="description"><strong>Adjust</strong> totals:</span>
                <p>
                  <span class="verb">Add</span>
                  <input name="add" type="text">
                  <span class="preposition">to</span>
                </p>
                <p>
                  <span class="verb">Subtract</span>
                  <input name="subtract" type="text">
                  <span class="preposition">from</span>
                </p>
              </div>
              <div id="adjust_mode" class="pull-right">
                {% for mode in modes %}
                  <button class="btn btn-default" name="mode" value="{{ mode }}">
                    {{ mode }}
                  </button>
                {% endfor %}
              </div>
            </form>
            <div class="clearfix"></div>
            <form id="clear" class="buttons" name="clear" method="post" action="{% url 'worktime:clear' %}">
              {% csrf_token %}
              <button class="btn btn-danger" name="action" value="clear">clear</button>
            </form>
          </div>
        </div>
      </section>

    </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'worktime/js/main.js' %}?via=html"></script>
{% endblock javascript %}
